<% if group.errors.any? %>

  <p>Your group cannot be saved because:</p>

  <ul>
    <% group.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>

<% end %>

<%= form_for(group) do |form| %>

  <div class="name_input">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="description_input">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="url_input">
    <%= form.label :cover_photo %>
    <%= form.text_field :cover_photo %>
  </div>

  <div class="submit">
    <%= form.submit %>
  </div>

<% end %>
