<a href="<%= groups_path %>">Back to Groups</a>

<h2><%= @group.name %> Group</h2>

<div class="cover_photo">
  <img src="<%= @group.cover_photo %>" width="500px">
</div>

<div class="group_membership">
  <% if @group.users.include? current_user %>
    <%= button_to "Leave Group", leave_group_path, method: :delete %>
  <% else %>
    <%= button_to "Join Group", join_group_path %>
  <% end %>
</div>

<h3><%= @group.description %></h3>

<ul>

  <li>
    <a href="<%= edit_group_path(@group) %>">
      Edit This Group
    </a>
  </li>

  <li>
    <%= link_to "Delete Group", @group, method: :delete, data: { confirm: "Are you sure you want to delete #{@group.name} Group?" } %>
  </li>

</ul>

<h4>Members:</h4>

<ul>
  <% @group.users.each do |user| %>
    <li>
      <%= user.email %>
    </li>
  <% end %>
</ul>