<% if gallery.errors.any? %>

  <p>Your gallery cannot be saved because:</p>

  <ul>
    <% gallery.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>

<% end %>

<%= form_for(gallery) do |form| %>

  <div class="name_input">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="description_input">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="submit">
    <%= form.submit %>
  </div>
  
<% end %>