<a href="<%= galleries_path %>">Back to Galleries</a>

<h2><%= @gallery.name %> Gallery</h2>

<h3><%= @gallery.description %></h3>

<ul>

  <li>
    <a href="<%= new_gallery_image_path(@gallery) %>">
      Add Image
    </a>
  </li>

  <li>
    <a href="<%= edit_gallery_path(@gallery) %>">
      Edit This Gallery
    </a>
  </li>

  <li>
    <%= link_to "Delete Gallery", @gallery, method: :delete, data: { confirm: "Are you sure you want to delete #{@gallery.name} Gallery?" } %>
  </li>

</ul>

<div class="gallery_images">
  <% @images.each do |image| %>
    <a href="<%= gallery_image_path(@gallery, image) %>">
      <img src="<%= image.url %>" width="500px">
    </a>
  <% end %>
</div>