<% if image.errors.any? %>

  <p>Your image cannot be saved because:</p>

  <ul>
    <% image.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
  
<% end %>

<%= form_for([gallery, image]) do |form| %>

  <div class="name_input">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="description_input">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="url_input">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div class="tag_input">
    <%= form.label :tag_list %>
    <%= form.text_field :tag_list %>
  </div>

  <div class="submit">
    <%= form.submit %>
  </div>

<% end %>