<a href="<%= gallery_path(@gallery) %>">Back to <%= @gallery.name %> Gallery</a>

<h2><%= @image.name %> Image</h2>

<h4>Image by: <%= @image.user.email %></h4>

<h3><%= @image.description %></h3>

<ul>

  <li>
    <a href="<%= edit_gallery_image_path(@gallery, @image) %>">Edit This Image</a>
  </li>

  <li>
    <%= link_to "Delete Image", [@gallery, @image], method: :delete, data: { confirm: "Are you sure you want to delete #{@image.name}?" } %>
  </li>

</ul>

<div class="image">
  <img src="<%= @image.url %>" width="100%">
</div>

<div class="image_liking">
  <% if @image.users.include? current_user %>
    <%= button_to "Unlike", image_like_path(@image), method: :delete %>
  <% else %>
    <%= button_to "Like", image_like_path(@image) %>
  <% end %>
</div>

<h3>Comments:</h3>

<%= render(@image.comments) || "There are no comments yet." %>

<%= form_for ([@image, @comment]) do |form| %>

  <br>
  <div class="comment_label">
    <%= form.label "Comment:" %>
  </div>

  <div class="content_input">
    <%= form.text_area :contents %>
  </div>

  <div class="submit">
    <%= form.submit %>
  </div>

<% end %>
